body {
    padding-top: 50px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.42857143;
    color: #333;
    display: block;
}

.starter-template {
    padding: 40px 15px;
}

.jumbotron {
    margin-top: 10px;
    margin-bottom: 60px;
    background-color: #eee;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron h1 {
    color: #FF8C00;
    font-size: 63px;
    text-align: center;
    font-weight: bold;
}

.jumbotron ul {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.3;
    list-style-position: inside;
    list-style-type: circle;
}

.left {
    text-align: left;
}

.wzw {
    color: #FF8C00;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
}

hr {
    margin: 50px;
    height: 5px;
    border-top-color: #FF8C00;
}

.featurette-heading{
    color: #5cb85c;
    font-weight: bold;
    font-size: 40px;
}

.col-md-4 h2 {
    font-weight: normal;
    font-size: 35px;
}

.orange {
    color: #FF8C00;
    font-weight: bold;
}

.italic {
    font-style: italic;
}