{% extends "wzw/base.html" %}

{% block title %}{{ block.super }} - {{ group.name }} {% endblock %}
{% block homeurl %} # {% endblock %}

{% block content %}
    <div class="container marketing">
        <div class="jumbotron">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">&Uuml;ber uns!</h2>
                    <p> Wir standen vor einem Problem.<br />
                        Wie bekommen wir es hin, Ausgaben, die in der Gruppe f&uuml;r andere
                        &uuml;bernommen oder get&auml;tigt wurden, sinnvoll auseinander zu klam&uuml;sern. Wir haben uns dar&uuml;ber
                        lange den Kopf zerbrochen.<br />
                        <br />
                        Das war der Start f&uuml;r unsere APP.<br />
                        <br />
                        Wir haben uns also zusammengesetzt, &uuml;berlegt, wie man das Problem am Besten l&ouml;sen kann.<br />
                        Das war die Geburtsstunde von "<span class="wzw">Wer zahlt was?</span>".  Ein System, was alle Aufgaben f&uuml;r uns &Uuml;bernimmt.<br />
                        <br />
                        Wir, das sind Michael, unser Texter und HTMLer, Stefan, unser Programmierer und eigentliche Ideengeber und Jan, HTMLer und CSSer.
                    </p>
                </div>
                <div class="col-md-3">
                    <img src="/static/bilder/bild5.png" alt="&Uuml;ber uns!" title="&Uuml;ber uns!" width="400px" height="200px">
                </div>
            </div>

        </div>
    </div>

{% endblock %}