{% extends "wzw/base.html" %}

{% block title %}{{ block.super }} - Startseite{% endblock %}
{% block homeurl %} /group/{{ group.token }} {% endblock %}

{% block content %}
    <div class="container marketing">
        <div class="jumbotron">
            <h2 class="orange">Gruppen löschen</h2>

            <form id="delete_group" method="post">
                {% csrf_token %}
                <input type="submit" value="Submit" name="apply_delete_group"/>
            </form>
        </div>
    </div>

{% endblock %}