{% extends "wzw/base.html" %}

{% block title %}{{ block.super }} - Startseite{% endblock %}
{% block homeurl %} /group/{{ group.token }} {% endblock %}

{% block content %}
    <div class="container marketing">
        <div class="jumbotron">
            <h2>Personen</h2>

            <h3>Person &auml;ndern</h3>

            <form id="new_person" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="person_id" value="{{ person.id }}">
                <input class="btn btn-lg btn-success" type="submit" value="aendern" name="apply_change_person"/>
            </form>

            <p>{{ person.report }}</p>
        </div>
    </div>

{% endblock %}