{% extends "wzw/base.html" %}

{% block title %}{{ block.super }} - Startseite{% endblock %}
{% block homeurl  %} /group/{{ group.token }} {% endblock %}

{% block content %}

    <div class="row">
        <h2>Gruppe</h2>

        <div class="col-md-12">
            <h3>Gruppen ändern</h3>

            <form id="new_expense" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit" name="edit_group"/>
            </form>
        </div>
    </div>

{% endblock %}