{% extends "wzw/base.html" %}

{% block title %}{{ block.super }} - {{ group.name }} {% endblock %}
{% block homeurl %} # {% endblock %}

{% block content %}
    <div class="container marketing">
        <div class="jumbotron">
            <h1>Ausgabe</h1>

            <h2>Ausgabe bearbeiten</h2>
                <form id="edit_expense" method="post">
                    {% csrf_token %}
                    {{ form.as_ul }}
                    <input type='text' value="{{ expense.id }}" name="expense_id" id="expense_id" hidden="true"/>
                    <input class="btn btn-lg btn-success glyphicon glyphicon-save" type="submit" value="Speichern" name="apply_edit_expense"/>
                </form>
                <button class="btn btn-lg btn-success glyphicon glyphicon-arrow-left"><a href="/group/{{ group.token }}/expense/{{ expense.id }}/"> Zur&uuml;ck</a></button>
        </div>
    </div>

{% endblock %}