{% extends "wzw/base.html" %}

{% block title %}{{ block.super }} - {{ group.name }} {% endblock %}
{% block homeurl %} # {% endblock %}

{% block content %}
    <div class="container marketing">
        <div class="jumbotron">
            <h1>Ausgaben</h1>

            {% if expense %}
            <table class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Besitzer</th>
                    <th>Kosten</th>
                    <th>angefallen</th>
                    <th>bearbeiten</th>
                    <th>l&ouml;schen</th>
                </tr>
                {% for e in expense %}
                <tr>
                    <td>{{ e.name }}</td>
                    <td>{{ e.owner }}</td>
                    <td>{{ e.cost }}</td>
                    <td>{{ e.debitDate }}</td>
                    <td>
                        <form method="post" action="edit">
                            {% csrf_token %}
                            <input type="text" hidden="true" value="{{ e.id }}" name="expense_id"/>
                            <input type="submit" value="bearbeiten" name="edit_expense"/>
                        </form>
                    </td>
                    <td>
                        <form method="post" action="delete">
                            {% csrf_token %}
                            <input type="text" hidden="true" value="{{ e.id }}" name="expense_id"/>
                            <input type="submit" value="löschen" name="delete_expense"/>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>keine Ausgabe erstellt</p>
            {% endif %}
        </div>
    </div>

{% endblock %}