{% extends "wzw/base.html" %}

{% block title %}{{ block.super }} - {{ group.name }} {% endblock %}
{% block homeurl %} # {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-4">
            <a class="btn btn-primary btn-lg" href="/group/{{ group.token }}/editGroup/">Gruppen Einstellungen</a>
        </div>
        <div class="col-lg-4">
            <a class="btn btn-primary btn-lg" href="/group/{{ group.token }}/editPerson/">Personen</a>
        </div>
        <div class="col-lg-4">

            <a class="btn btn-primary btn-lg {% if person.count < 1 %} disabled {% endif %}"
               href="/group/{{ group.token }}/expense/">Ausgaben</a>
        </div>
    </div>
    <div class="row">
        <h1>Ausgabe</h1>
    </div>
    <a href="new"><button>Neue Ausgabe</button></a>
    <div class="row">
        <h2>Ausgaben</h2>

        <div class="col-md-12">
            {% if expense %}
                <table class="table table-striped">
                    <tr>
                        <th>Name</th>
                        <th>Besitzer</th>
                        <th>Kosten</th>
                        <th>angefallen</th>
                        <th>bearbeiten</th>
                        <th>löschen</th>
                    </tr>
                    {% for e in expense %}
                        <tr>
                            <td>{{ e.name }}</td>
                            <td>{{ e.owner }}</td>
                            <td>{{ e.cost }}</td>
                            <td>{{ e.debitDate }}</td>
                            <td>
                                <form method="post" action="edit">
                                    {% csrf_token %}
                                    <input type="text" hidden="true" value="{{ e.id }}" name="expense_id"/>
                                    <input type="submit" value="bearbeiten" name="edit_expense"/>
                                </form>
                            </td>
                            <td>
                                <form method="post" action="delete">
                                    {% csrf_token %}
                                    <input type="text" hidden="true" value="{{ e.id }}" name="expense_id"/>
                                    <input type="submit" value="löschen" name="delete_expense"/>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>Keine Ausgabe erstellt</p>
            {% endif %}
        </div>
    </div>



{% endblock %}