{% extends "wzw/base.html" %}

{% block title %}{{ block.super }} - {{ group.name }} {% endblock %}
{% block homeurl %} # {% endblock %}

{% block content %}
    <div class="container marketing">
        <div class="jumbotron">
            <h1>Ausgaben</h1>

            {% if expense %}
                <table class="table table-striped">
                    <tr>
                        <th>Name</th>
                        <th>Besitzer</th>
                        <th>Kosten</th>
                        <th>angefallen am</th>
                        <th>Details</th>
                    </tr>
                    {% for e in expense %}
                        <tr>
                            <td>{{ e.name }}</td>
                            <td>{{ e.owner }}</td>
                            <td>{{ e.cost }}</td>
                            <td>{{ e.debitDate }}</td>
                            <td>
                                <a href="\group\{{ group.token }}/expense/{{ e.id }}/" class="btl btn-lg btn-success">Details</a>
                            </td>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>keine Ausgabe erstellt</p>
            {% endif %}
        </div>
    </div>

{% endblock %}