{% extends "wzw/base.html" %}

{% block title %}{{ block.super }} - {{ group.name }} {% endblock %}
{% block homeurl  %} # {% endblock %}

{% block content %}
    <div class="container marketing">
        <div class="jumbotron">
            <h2>Gruppenname: {{ group.name | default:'Gruppenname' }}</h2>
            <p class="left">Gruppenbeschreibung: {{ group.description  | default:"Beschreibung" }}</p>

            <h2>Hier finden Sie Ihre gesamten Ausgaben</h2>
            <div class="col-md-12">
                {% if expense %}
                    <table class="table table-striped">
                        <tr>
                            <th>Name</th>
                            <th>Besitzer</th>
                            <th>Kosten</th>
                            <th>Teilhaber</th>
                        </tr>
                        {% for e in expense %}
                        <tr>
                            <td>{{ e.name }}</td>
                            <td>{{ e.owner }}</td>
                            <td>{{ e.cost }}</td>
                            <td>{{ e.costPersons }}</td>
                        </tr>
                        {% endfor %}
                        </table>
                    {% else %}
                        <p class="left">Keine Ausgabe erstellt</p>
                    {% endif %}
            </div>
        </div>
    </div>

{% endblock %}