{% extends "wzw/base.html" %}

{% block title %}{{ block.super }} - {{ group.name }} {% endblock %}
{% block homeurl  %} # {% endblock %}

{% block content %}
    <div class="container marketing">
        <div class="jumbotron">
            <h2><span class="orange">Gruppenname:</span> "{{ group.name | default:'Gruppenname' }}"</h2>
            <p class="left"><span class="italic" >Gruppenbeschreibung:</span> {{ group.description  | default:"Beschreibung" }}</p>

            <h2 class="orange">Ausgabenübersicht</h2>
                {% if expense %}
                    <table class="table table-striped">
                        <tr>
                            <th>Name</th>
                            <th>Besitzer</th>
                            <th>Kosten</th>
                            <th>Teilhaber</th>
                        </tr>
                        {% for e in expense %}
                        <tr>
                            <td>{{ e.name }}</td>
                            <td>{{ e.owner }}</td>
                            <td>{{ e.cost }}</td>
                            <td>{{ e.costPersons }}</td>
                        </tr>
                        {% endfor %}
                        </table>
                    {% else %}
                        <p class="left">Sie haben noch keine Ausgabe erstellt.</p>
                    {% endif %}
        </div>
    </div>

{% endblock %}