{% extends "wzw/base.html" %}

{% block title %}{{ block.super }} - {{ group.name }} {% endblock %}
{% block homeurl %} # {% endblock %}

{% block content %}
    <div class="container marketing">
        <div class="jumbotron">
            <p>
                Impressum<br />
                <br />
                Anbieter:<br />
                <br />
                Max Mustermann<br />
                Musterstraße 12<br />
                12345 Berlin<br />
                <br />
                Kontakt:<br />
                <br />
                Telefon: 030/12345678<br />
                Telefax: 030/12345679<br />
                e-Mail: e-Mail@mustermann.de<br />
                Website: www.mustermann.de<br />
                <br />
                ##folgendes muss erwähnt werden, aber nur wenn vorhanden##<br />
                <br />
                Registergericht: AG Berlin<br />
                HRB-Nummer: 54321<br />
                Umsatzsteueridentifikationsnummer: 123456789<br />
                Nennung des vertretungsberechtigten Geschäftsführer einer GmbH<br />
                Quelle: http://www.suchmaschinen-online.de/muster-impressum.htm<br />
            </p>
        </div>
    </div>

{% endblock %}