{% extends "base.html" %}

{% block title %}{{ block.super }} - Startseite{% endblock %}

{% block content %}
<h2>Neue Gruppe erstellen</h2>
    <form id="new_group" method="post">
        {% csrf_token %}
        {{ form_new_group }}
        <input type="submit" value="Submit" name="new_group" />
    </form>

<h2>Gruppe anzeigen</h2>
    <form id="open_group" method="post">
        {% csrf_token %}
        {{ form_open_group }}
        <input type="submit" value="Submit" name="open_group" />
    </form>

{% endblock %}