{% extends "wzw/base.html" %}

{% block title %}{{ block.super }} - {{ group.name }} {% endblock %}
{% block homeurl %} # {% endblock %}

{% block content %}
    <div class="container marketing">
        <div class="jumbotron">
            <h1>Neue Ausgabe</h1>

            <div class="row">
                <div class="col-md-12">
                    {% if person %}
                        {% if form %}
                            <form id="new_expense" method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input class="btn btn-lg btn-success" type="submit" value="Submit" name="new_expense"/>
                            </form>
                        {% endif %}
                    {% else %}
                        <p>Du musst erst eine Person <a href="/group/{{ group.token }}/person/new">hier</a> erstellen um Ausgaben erfassen zu können.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}