{% extends "wzw/base.html" %}

{% block title %}{{ block.super }} - Startseite{% endblock %}
{% block homeurl  %} /group/{{ group.token }} {% endblock %}

{% block content %}
    <div class="container marketing">
        <div class="jumbotron">
            <h2 class="orange">Person</h2>
            <h3>neue Person erstellen</h3>
            <form id="new_person" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-lg btn-success" type="submit" value="anlegen" name="new_person"/>
            </form>
        </div>
    </div>

{% endblock %}